# Go backend ignores
/api/tmp/
/api/.env
/api/vendor/
/api/*.exe
/api/*.exe~
/api/*.dll
/api/*.so
/api/*.dylib
/api/*.test
/api/*.out

# NextJS frontend ignores
/client/.next/
/client/out/
/client/node_modules/
/client/.env*.local
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.pnpm-debug.log*
/client/.vercel
/client/.env

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Python ignores
/python-api/.env
/python-api/.venv/
/python-api/__pycache__/
/python-api/**/__pycache__/
/python-api/*.pyc
/python-api/*.pyo
/python-api/*.pyd
/python-api/.pytest_cache/
/python-api/dist/
/python-api/build/
/python-api/*.egg-info/
